.blog_edit_container{
    width:80%;
    height:calc(100% - 50px);
    margin:auto;
}
.blog_edit_container #title{
    width:80%;
    height:30px;
    margin:20px;
    border:none;
    outline:none;
    border-radius:10px;
    padding-left:10px;
    font-size:18px;
    
}
.blog_edit_container #submit{
   width:100px;
   background-color: wheat;
   border:none;
   border-radius:10px;
}
.blog_edit_container #submit:hover{
    background-color: yellow;
    transition:all 0.5s;
}
.blog_edit_container #editor{
    opacity:80%;
    background-color: wheat;
}
